<h1><%= @phrase.en %></h1>
<h7><%= @phrase.word.word %></h7>
<p><%= link_to 'Start', { controller: :words, action: :show, lesson_identifier: params[:lesson_identifier]}, style: 'font-size: 24px;' %></td></p>